* {
   font-family: 'Roboto', sans-serif;
}

/* workaround for normalize.css breaking material ui buttons */
span[type=button] {
   -webkit-appearance: none;
}
html [type="button"] {
   -webkit-appearance: none;
}
a[type=button] {
   -webkit-appearance: none;
}

.container {
   padding-top: 64px;
   max-width: 768px;
   margin-left: auto;
   margin-right: auto;
}

.centered {
    float: center;
    justify-content: center;
}

.fireSmall {
    width: 2em;
    height: 2em;
}