* {
   font-family: 'Roboto', sans-serif;
}

/* workaround for normalize.css breaking material ui buttons */
span[type=button] {
   -webkit-appearance: none;
}
html [type="button"] {
   -webkit-appearance: none;
}
a[type=button] {
   -webkit-appearance: none;
}

.container {
   padding-top: 48px;
   max-width: 768px;
   margin-left: auto;
   margin-right: auto;
}

.centered {
    text-align: center;
}

.fireSmall {
    width: 2em;
    height: 2em;
}

footer p {
    font-size: smaller;
}

.sliders {
    padding-bottom: 48px;
}


@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
   50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}

.test {
  
  height: 100%;
  width: 100%;
  background: transparent url(IMG_5111.jpg);
  background-size: 150%;
  background-attachment: fixed;
  animation: panning 50s infinite linear;
}


html, body {
  height: 100%;
}