* {
   font-family: 'Roboto', sans-serif;
   color: white;
}

/* workaround for normalize.css breaking material ui buttons */
span[type=button] {
   -webkit-appearance: none;
}
html [type="button"] {
   -webkit-appearance: none;
}
a[type=button] {
   -webkit-appearance: none;
}

.container {
   padding-top: 48px;
   max-width: 768px;
   margin-left: auto;
   margin-right: auto;
}

.centered {
    text-align: center;
}

.fireSmall {
    width: 3em;
    height: 3em;
}

footer p {
    font-size: smaller;
}

.sliders {
    padding-bottom: 48px;
}


@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
   50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}

.test {
  
  height: 100%;
  width: 100%;
  background: transparent url(ffbackground.jpg);
  background-size: 150%;
  background-attachment: fixed;
  animation: panning 50s infinite linear;
}


html, body {
  height: 100%;
}

.top {
position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  height: 90px;
  width: 290px;
  margin: auto;
  font-family: Roboto;
  font-size: 34px;
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 10px 40px;
  border: 3px solid #ccc;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
}

.pushDown {
    padding-top: 800px;
}
.top a {
    text-decoration: none;
}

em {
    color: #ff6600;
    font-weight: bold;
}

#playlistbutton {
  background-color: black;
}