p {
    font-size: 6rem;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
    color:white;
}

.centered {
    float: center;
    justify-content: center;
    text-align: center;
}

#home {
    margin: 10px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.fireBig {
    width: 6rem;
    height: 6rem;
}