p {
    font-size: 6rem;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
}

.centered {
    float: center;
    justify-content: center;
    text-align: center;
}

#home {
    margin-bottom: 10px;
}

.fireBig {
    width: 6rem;
    height: 6rem;
}